

body{
    background-color: black;
}
  
.title{
    text-transform: capitalize;
    margin: 10px 0;
    padding-top: 0px;
    font-weight: bold;
    color: aqua;
    position: relative;
    margin-left: 15px;
    font-size: 14px;
   
} 
.trait{
    color: white;
    font-size: 20px;
    margin: 5px;
  
}

.img_desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    position: relative;
    margin-left: 10px;
    height: 300px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 0 10px aqua;
}

.right{
    color: white;
    margin-top: 20px;
    width: 100%;
}

.img_desc video{
    width: 500px;
    height: 300px;
    position: relative;
    float: left;
    padding: 0;
 
}
.text{
    color: white;
    display: flex;
    position: relative;
    width: 50%;
    margin-left: 20px;
    padding-top: 50px;
}
.propos{
    display: flex;
 
}

